#main {
    width: 1000px;
    height: 1000px;
    border: 5px solid black;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    position: relative; 
}

#title {
    display: inline-block; /* Center the title within #main */
    margin: 0;
    position: relative;
    top: 2%; /* Vertically center */
    transform: translateY(-50%);
}

#left-corner {
    position: absolute;
    left: 10px;
    text-align: left;
    margin-top: 0%;
}

#card_images {
    display: inline;
}

#input_money_div {
    display: inline;
}

#house_card_images,
#player_card_images {
    display: block;
    width: 100%; /* Ensures full width for stacking */
    margin: 0; /* Removes any default margins that might cause issues */
    padding: 0;
}